


<h1>TheaterDelete</h1>


@model MyMovieApp.Entity.ThetreModel;
@{
    ViewData["Title"] = "TheaterDelete";
}

<h1>DeleteTheaterAsync</h1>

<form method="post">
    <div class="form-group">
        <label>
            Theater Title
        </label>
        <input type="text" class="form-control" asp-for="TheaterName" disabled="disabled" />
    </div>

    <div class="form-group">
        <label>
            Theater Movies
        </label>
        <input type="text" class="form-control" asp-for="TheaterMovies" disabled="disabled" />
    </div>

    <div class="form-group">
        <label>
            Theater Address
        </label>
        <input type="text" class="form-control" asp-for="TheaterAddress" disabled="disabled" />
    </div>


    

    <input type="submit" value="Deletes" class="btn btn-primary" />
    <input type="button" value="Reset" class="btn btn-primary" />
</form>